doctype html
html(ng-app='todoApp')
  head
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='/javascripts/todo.js')
    link(rel='stylesheet', href='/stylesheets/todo.css')
  body
    block content
