extends ../angularjs

block content
  a.btn.btn-default(href='/service/list') 리스트
  a.btn.btn-default(href='/service/select') 조회
  a.btn.btn-default(href='/service/insert') 추가
  a.btn.btn-default(href='/service/update') 수정
  a.btn.btn-default(href='/service/delete') 삭제
